@using Dalmatian.Web.Infrastructure
@model Dalmatian.Web.ViewModels.Persons.PersonToDogs

@{
    ViewData["Title"] = "PersonToDog";
}
<div class="container-fluid">

    <div class="row justify-content-md-center">
        <div class="col-auto">
            <div class="table-responsive-sm">
                <table class="table table-bordered border-dark rounded-circle">
                    <thead class="table-primary">
                    <tr>
                        <th valig="top">Name</th>
                        <th valig="top">Country</th>
                        <th valig="top">City</th>
                        <th valig="top">Web site</th>
                        <th valig="top">Phone</th>
                        <th valig="top">Email</th>
                        <th valig="top">Facebook</th>
                        <th valig="top">Twitter</th>
                        <th valig="top">Instagram</th>
                        <th valig="top">Linkedin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-bordered bg-white">
                        <td valig="top">
                            <span>
                                @Model.Firstname
                                @Model.Lastname
                                @Model.Middlename
                            </span>
                        </td>
                        <td>@Model.Country.GetEnumDisplayName()</td>
                        <td valig="top">@Model.City</td>
                        <td valig="top"><a class="" href="@Model.Website" target="_blank">@Model.Website</a></td>
                        <td valig="top">@Model.Phone</td>
                        <td valig="top">@Model.Email</td>
                        <td valig="top"><a class="" href="@Model.Facebook" target="_blank">@Model.Facebook</a></td>
                        <td valig="top"><a class="" href="@Model.Twitter" target="_blank">@Model.Twitter</a></td>
                        <td valign="top"><a class="" href="@Model.Instagram" target="_blank">@Model.Instagram</a></td>
                        <td valign="top"><a class="" href="@Model.Linkedin" target="_blank">@Model.Linkedin</a></td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-auto">
            <div class="table-responsive-sm">
                <div class="row">
                    <div class="col-auto">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered border-dark align-middle align-center text-md-center">
                                <thead class="table-primary">
                                    <tr>
                                        <h4>Dogs of one owner</h4>
                                    </tr>
                                </thead>
                                <thead class="table-primary">
                                    <tr>
                                        <th>Photo</th>
                                        <th>PedigreeName</th>
                                        <th>Date of birth</th>
                                        <th>Date of birth</th>
                                        <th>Sex</th>
                                        <th>Color</th>
                                        <th>Breeder</th>
                                        <th>Breed kennel club register number</th>
                                        <th>Kennel club register number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var dog in Model.DogsViewModels)
                                    {

                                        <tr class="table-bordered bg-white">
                                            <td valign="top">
                                                <img id="myImg" src="@dog.ImagesUrl" alt="@dog.PedigreeName" style="width: 100%; max-width: 200px" class="rounded mx-auto d-block">
                                            </td>
                                            <td valign="top"><a class="fa-link" href="@dog.RedirectUrl">@dog.PedigreeName</a></td>
                                            <td valign="top">@dog.Breed.GetEnumDisplayName()</td>
                                            <td valign="top">@dog.DateOfBirth?.ToShortDateString()</td>
                                            <td valign="top">@dog.SexDog.GetEnumDisplayName()</td>
                                            <td valign="top">@dog.Color.GetEnumDisplayName()</td>
                                            <td valign="top">
                                                @if (dog.PersonBreederId != null)
                                                {
                                                    <a class="" asp-action="BreederToDog" asp-controller="Persons" asp-route-id="@dog.PersonBreederId">
                                                <span>
                                                    @dog.PersonBreeder.Firstname
                                                    @dog.PersonBreeder.Lastname
                                                    @dog.PersonBreeder.Middlename
                                                </span>
                                                </a>
                                                }
                                            </td>
                                            <td valign="top">
                                                @dog.ClubRegisterNumbers.Select(x => x.ClubNumber).FirstOrDefault()
                                            </td>
                                            <td valign="top">
                                                @dog.RegistrationDogNumbers.Select(x => x.RegistrationNumber).FirstOrDefault()
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

