@using Dalmatian.Web.Infrastructure
@using Dalmatian.Web.ViewModels.Dogs

@model DogsViewModel
@{
    ViewData["Title"] = Model.PedigreeName;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 alert alert-primary active">
            <h2>@Model.PedigreeName</h2>
            @if (this.User.IsInRole("Administrator"))
            {
                <a class="btn btn-sm btn-primary " asp-action="Edit" asp-controller="Dogs" asp-route-id="@Model.Id">Edit</a>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <div class="table-">
                <table class="table table-primary">
                    <tr class="table-bordered bg-white">
                        <th rowspan="2">
                            <img id="myImg" src="@Model.ImagesUrl" alt="@Model.PedigreeName" style="width: 100%; max-width: 100px" class="rounded mx-auto d-block">
                            <!-- The Modal -->
                            <div id="myModal" class="modal">

                                <!-- The Close Button -->
                                <span class="close">&times;</span>

                                <!-- Modal Content (The Image) -->
                                <img class="modal-content" id="img01">

                                <!-- Modal Caption (Image Text) -->
                                <div id="caption"></div>
                            </div>
                            <br />
                            @Model.PedigreeName
                        </th>
                        <th>
                            @if (Model.FatherDogId != null)
                            {
                                <img id="myImg" src="@Model.Father.ImagesUrl" alt="@Model.Father.PedigreeName" style="width: 100%; max-width: 100px" class="rounded mx-auto d-block">
                                <!-- The Modal -->
                                <div id="myModal" class="modal">

                                    <!-- The Close Button -->
                                    <span class="close">&times;</span>

                                    <!-- Modal Content (The Image) -->
                                    <img class="modal-content" id="img01">

                                    <!-- Modal Caption (Image Text) -->
                                    <div id="caption"></div>
                                </div>
                                <br />
                                <a class="" href="@Model.FatherUrl">@Model.Father.PedigreeName</a>
                            }
                        </th>
                    </tr>
                    <tr class="table-bordered bg-white">
                        <td>
                            @if (Model.MotherDogId != null)
                            {
                                <img id="myImg" src="@Model.Mother.ImagesUrl" alt="@Model.Mother.PedigreeName" style="width: 100%; max-width: 100px" class="rounded mx-auto d-block">
                                <!-- The Modal -->
                                <div id="myModal" class="modal">

                                    <!-- The Close Button -->
                                    <span class="close">&times;</span>

                                    <!-- Modal Content (The Image) -->
                                    <img class="modal-content" id="img01">

                                    <!-- Modal Caption (Image Text) -->
                                    <div id="caption"></div>
                                </div>
                                <br />
                                <a class="" href="@Model.MotherUrl"> @Model.Mother.PedigreeName</a>
                            }
                        </td>
                </table>
            </div>
        </div>
    </div>
    @*Basic information*@
    <div class="row">
        <div class="col-auto">
            <div class="table-responsive-sm">
                <table class="table table-bordered border-dark">
                    <thead class="table-primary">
                        <tr>
                            <h4>Basic information</h4>
                        </tr>
                    </thead>
                    <thead class="table-primary">
                        <tr>
                            <th>Breed</th>
                            <th>Date of birth</th>
                            <th>Sex</th>
                            <th>Colour</th>
                            <th>Owner</th>
                            <th>Breeder</th>
                            <th>Breed kennel club register number</th>
                            <th>Kennel club register number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-bordered bg-white">
                            <td valign="top">@Model.Breed.GetEnumDisplayName()</td>
                            <td valign="top">@Model.DateOfBirth?.ToShortDateString()</td>
                            <td valign="top">@Model.SexDog.GetEnumDisplayName()</td>
                            <td valign="top">@Model.Color.GetEnumDisplayName()</td>
                            <td valign="top">
                                @if (Model.PersonOwnerId != null)
                                {
                                    <a class="" asp-action="PersonToDog" asp-controller="Persons" asp-route-id="@Model.PersonOwnerId">
                                        <span>
                                            @Model.PersonOwner.Firstname
                                            @Model.PersonOwner.Lastname
                                            @Model.PersonOwner.Middlename
                                        </span>
                                    </a>
                                }
                            </td>
                            <td valign="top">
                                @if (Model.PersonBreederId != null)
                                {
                                    <a class="" asp-action="BreederToDog" asp-controller="Persons" asp-route-id="@Model.PersonBreederId">
                                        <span>
                                            @Model.PersonBreeder.Firstname
                                            @Model.PersonBreeder.Lastname
                                            @Model.PersonBreeder.Middlename
                                        </span>
                                    </a>
                                }
                            </td>
                            <td valign="top">
                                @Model.ClubRegisterNumbers.Select(x => x.ClubNumber).FirstOrDefault()
                            </td>
                            <td valign="top">
                                @Model.RegistrationDogNumbers.Select(x => x.RegistrationNumber).FirstOrDefault()
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="table-responsive-sm">
                <table class="table table-bordered border-dark">
                    <thead class="table-primary">
                        <tr>
                            <h4>Health information</h4>
                        </tr>
                    </thead>
                    <thead class="table-primary">
                        <tr>
                            <th>Baer test</th>
                            <th>Date оf Baer</th>
                            <th>Hip Rating</th>
                            <th>Date оf Rating</th>
                            <th>Elbow Rating</th>
                            <th>Date оf Elbow Rating</th>
                            <th colspan="2">Other health test</th>
                        </tr>
                    </thead>
                    @foreach (var dogHealth in Model.HealthInformations)
                    {
                        <tbody>
                            <tr class="table-bordered bg-white">
                                <td valig="top">@dogHealth.Baer.GetEnumDisplayName()</td>
                                <td>@dogHealth.DateOfBaer?.ToShortDateString()</td>
                                <td valig="top">@dogHealth.HipRating.GetEnumDisplayName()</td>
                                <td>@dogHealth.DateOfHipRating?.ToShortDateString()</td>
                                <td valig="top">@dogHealth.ElbowRating</td>
                                <td>@dogHealth.DateOfElbowRating?.ToShortDateString()</td>
                                <td valig="top" colspan="2">@dogHealth.OtherHealthTest</td>

                            </tr>
                        </tbody>
                    }
                </table>

                <table class="table table-bordered border-dark">
                    <thead class="table-primary">
                        <tr>
                            <h4>BreedingInformation</h4>
                        </tr>
                    </thead>

                    <thead class="table-primary">
                        <tr>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>Breeding status</th>
                            <th>Country of origin</th>
                            <th>Country of residence</th>
                        </tr>
                    </thead>
                    @foreach (var dog in Model.BreedingInformations)
                    {
                        <tbody>
                            <tr class="table-bordered bg-white">
                                <td valign="top">@dog.Height @dog.HeightUnits</td>
                                <td valign="top">@dog.Weight @dog.WeightUnits</td>
                                <td valign="top">@dog.BreedingStatus.GetEnumDisplayName()</td>
                                <td valign="top">@dog.CountryOfOrigin.GetEnumDisplayName()</td>
                                <td valign="top">@dog.CountryOfResidence.GetEnumDisplayName()</td>
                            </tr>
                        </tbody>
                    }
                </table>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-auto">
            <div class="table-responsive-sm">
                <table class="table table-bordered border-dark">
                    <thead class="table-primary">
                        <tr>
                            <h4>Sibling</h4>
                        </tr>
                    </thead>
                    <thead class="table-primary">
                        <tr>
                            <th>Name</th>
                            <th>Date of birth</th>
                            <th>Sex</th>
                            <th>Colour</th>
                            <th>Owner</th>
                            <th>Breeder</th>
                            <th>Breed kennel club register number</th>
                            <th>Kennel club register number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dogView in Model.SiblingDogViewModels)
                        {

                            <tr class="table-bordered bg-white">
                                <td valign="top">
                                    <a class="" href="@dogView.SiblingUrl">@dogView.PedigreeName</a>
                                </td>
                                <td valign="top">@dogView.DateOfBirth?.ToShortDateString()</td>
                                <td valign="top">@dogView.SexDog.GetEnumDisplayName()</td>
                                <td valign="top">@dogView.Color.GetEnumDisplayName()</td>
                                <td valign="top">
                                    @if (dogView.PersonOwnerId != null)
                                    {
                                        <span>
                                            @dogView.PersonOwner.Firstname
                                            @dogView.PersonOwner.Lastname
                                            @dogView.PersonOwner.Middlename
                                        </span>
                                    }
                                </td>
                                <td valign="top">
                                    @if (dogView.PersonBreederId != null)
                                    {
                                        <span>
                                            @dogView.PersonBreeder.Firstname
                                            @dogView.PersonBreeder.Lastname
                                            @dogView.PersonBreeder.Middlename
                                        </span>
                                    }
                                </td>
                                <td valign="top">
                                    @dogView.ClubRegisterNumbers.Select(x => x.ClubNumber).FirstOrDefault()
                                </td>
                                <td valign="top">
                                    @dogView.RegistrationDogNumbers.Select(x => x.RegistrationNumber).FirstOrDefault()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="table-responsive-sm">
                <table class="table table-bordered border-dark">
                    <thead class="table-primary">
                        <tr>
                            <h4>Offspring</h4>
                        </tr>
                    </thead>
                    <thead class="table-primary">
                        <tr>
                            <th>Name</th>
                            <th>Date of birth</th>
                            <th>Sex</th>
                            <th>Colour</th>
                            <th>Owner</th>
                            <th>Breeder</th>
                            <th>Breed kennel club register number</th>
                            <th>Kennel club register number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dogView in Model.DogLitterList)
                        {

                            <tr class="table-bordered bg-white">
                                <td valign="top">
                                    <a class="" href="@dogView.OffspringUrl">@dogView.PedigreeName</a>
                                </td>
                                <td valign="top">@dogView.DateOfBirth?.ToShortDateString()</td>
                                <td valign="top">@dogView.SexDog.GetEnumDisplayName()</td>
                                <td valign="top">@dogView.Color.GetEnumDisplayName()</td>
                                <td valign="top">
                                    @if (dogView.PersonOwnerId != null)
                                    {
                                        <span>
                                            @dogView.PersonOwner.Firstname
                                            @dogView.PersonOwner.Lastname
                                            @dogView.PersonOwner.Middlename
                                        </span>
                                    }
                                </td>
                                <td valign="top">
                                    @if (dogView.PersonBreederId != null)
                                    {
                                        <span>
                                            @dogView.PersonBreeder.Firstname
                                            @dogView.PersonBreeder.Lastname
                                            @dogView.PersonBreeder.Middlename
                                        </span>
                                    }
                                </td>
                                <td valign="top">
                                    @dogView.ClubRegisterNumbers.Select(x => x.ClubNumber).FirstOrDefault()
                                </td>
                                <td valign="top">
                                    @dogView.RegistrationDogNumbers.Select(x => x.RegistrationNumber).FirstOrDefault()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
