@using System.ComponentModel.DataAnnotations
@using Dalmatian.Common
@using Dalmatian.Data.Models
@using Dalmatian.Data.Models.Enum
@using Dalmatian.Web.ViewModels.Dogs
@model DogsViewModel
@{
    ViewData["Title"] = Model.PedigreeName;
}

<h1>ByDogName</h1>

<p>@Model.PedigreeName </p>
<p>@Model.Id </p>
<p>@Model.ImagesUrl </p>
<p>@Model.Breed </p>
<p>@Model.Color</p>


@foreach (var dog in Model.Parents)
{
    <p>@dog.FatherDogId</p>
    <p>@dog.MotherDogId</p>
}

<h1>ByDogName</h1>