@model Dalmatian.Web.ViewModels.ConfirmationOfMating.ConfirmationOfMatingViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConfirmationOfMatingViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherDogId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherDogId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherDogId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherDogId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfMating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfMating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfMating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfMating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerMaleDog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerMaleDog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerFemaleDog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerFemaleDog)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
