@using Dalmatian.Web.ViewModels.ConfirmationOfMating;
@using Dalmatian.Web.Infrastructure
@model ConfirmationOfMatingViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-auto">
            <div class="table-responsive-sm">
                <table class="table table-bordered border-dark rounded-circle">
                    <thead class="table-primary">
                        <tr>
                            <h4>Confirmation Of Mating</h4>
                        </tr>
                    </thead>
                    <thead class="table-primary">
                        <tr>
                            <th valig="top">Registration number</th>
                            <th valig="top">Sire</th>
                            <th valig="top">Dam</th>
                            <th valig="top">Date Of Mating</th>
                            <th valig="top">EstimatedDate Of Birth</th>
                            <th valig="top">Type Of Mating</th>
                            <th valig="top">Owner Male Dog</th>
                            <th valig="top">Owner Female Dog</th>
                            <th valig="top">Edit</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr class="table-bordered bg-white">
                                <td valig="top">@Model.RegistrationNumber</td>
                                <td valig="top">
                                    <a class="fa-link" href="@Model.FatherUrl">@Model.DogFather.PedigreeName</a>
                                </td>
                                <td valig="top">
                                    <a class="fa-link" href="@Model.MotherUrl">@Model.DogMother.PedigreeName</a>
                                </td>
                                <td valig="top">@Model.DateOfMating.ToShortDateString()</td>
                                <td valig="top">@Model.EstimatedDateOfBirth.ToShortDateString()</td>
                                <td valig="top">@Model.TypeOfMating.GetEnumDisplayName()</td>
                                <td valig="top">@Model.OwnerMaleDog</td>
                                <td valig="top">@Model.OwnerFemaleDog</td>
                                <td valig="top">
                                    @if (this.User.IsInRole("Administrator"))
                                    {
                                        <a class="btn btn-sm btn-primary " asp-action="Edit" asp-controller="ConfirmationOfMating" asp-route-id="@Model.Id">Edit</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm btn-outline-secondary disabled">Edit</a>
                                    }
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
